.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
  padding: 4px;
  margin: auto;
}

.house-color-code {
  display: inline-block;
  margin-right: 8px;
  width: 1.3em;
  height: 1.3em;
}

.color-red {
  color: red;
}